<div class="arena-container">
  <div class="nav-battle-info">
    <div class="info-nb-player _1">
      <h2 class="heading">Player 1 |</h2>
      <div class="player-name"><%=@player1.name%></div>
    </div>
    <div class="info-nb-player _2">
      <div class="player2-name"><%=@player2.name%></div>
      <h2 class="heading right"> | Player 2 </h2>
    </div>
  </div>
  <div class="nav-battle-info-life">
    <div class="info-nb-player _1">
      <h2 class="heading">Life     |</h2>
      <div class="life-bar1">
        <%@player1.life_points.times do%>
        <span class= "bars1" id="bars1">|</span>
        <span class= "bars1" id="bars1">|</span>
        <span class= "bars1" id="bars1">|</span>
        <%end%>
      </div>
    </div>
    <div class="info-nb-player _2">
      <div class="life-bar2" >
        <%@player2.life_points.times do%>
        <span class= "bars2" id="bars2">|</span>
        <span class= "bars2" id="bars2">|</span>
        <span class= "bars2" id="bars2">|</span>
        <%end%>
      </div>
      <h2 class="heading right">|     Life</h2>
    </div>
  </div>
  <div class="fight-zone">
    <div class="player1"><%=image_tag @player1.avatar, class: "img-player1 "%></div>
    <div class="player2"><%=image_tag @player2.avatar, class: "img-player2 "%></div>
  </div>
  <div class="messages">
    <div id="result" class="text-block">Fight !</div>
    <%=link_to "New Fight!", new_fight_path, id: "ask-fight", class: "button w-button d-none" %>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1>
          Bienvenue !
        </h1>
        <p>Veiller activer le son pour une meilleure expérience !</p>
        <p>Vous aller jouer à Kaptain Kombat. Je vous rassure c'est super simple !</p>
        <p>Joueur 1</p>
        <ul>
          <li>Appuyer sur la lettre "Q" pour attaquer</li>
          <li>Appuyer sur la lettre "W" pour utiliser votre arme !</li>
        </ul>
        <p>Joueur 2</p>
        <ul>
          <li>Appuyer sur la lettre "P" pour attaquer</li>
          <li>Appuyer sur la lettre "L" pour utiliser votre arme !</li>
        </ul>
        <p>Bon à savoir</p>
        <ul>
          <li>Quand vous rafraichissez la page un combat random est lancé</li>
          <li>Vous pouvez en cliquant sur "New Fight" créer un combat sur mesure</li>
          <li>En cliquant sur "Characters" vous pourrez consulter les combattants et en créer de nouveaux</li>
        </ul>
        <h4>
          Merci et bon combat :)
        </h4>
      </div>
    </div>
  </div>
</div>
  <%= audio_tag "special-attack.mp3", controls: true, id: "special"%>
  <%= audio_tag "punch.mp3", controls: true, id: "punch"%>
  <%= audio_tag "punch1.mp3", controls: true, id: "punch1"%>
  <%= audio_tag "kaptain-intro.mp3", controls: true, id: "my_intro"%>
  <%= audio_tag "kaptain-intro2.mp3", controls: true, id: "my_intro2"%>
</div>


