<h1>Kaptain Kombat !</h1>
<%=link_to "characaters", characters_path%>
<%=link_to "New Fight", new_fight_path%>


<div><%=@player1.name%></div>
<div><%=@player1.attack_points%></div>
<div><%=@player1.life_points%></div>
<div><%=image_tag @player1.avatar%></div>
<br>
<div><%=@player2.name%></div>
<div><%=@player2.attack_points%></div>
<div><%=@player2.life_points%></div>
<div><%=image_tag @player2.avatar%></div>


