<%= form_with(model: weapon, local: true) do |form| %>
  <% if weapon.errors.any? %>
    <div id="error_explanation">
      <h2>Oups! Il y a <%= pluralize(character.errors.count, "erreur") %> dans le formulaire</h2>

      <ul>
      <% weapon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :attack_force %>
    <%= form.number_field :attack_force %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
